{% extends 'base.html.twig' %}

{% block title %}Modifer mon mot de passe{% endblock %}

{% block content %}
    <h1>Modifer mon mot de passe</h1>
    <a href="{{ path('account') }}">Retour</a>
    <hr>
    {% if notification %}
        <div class="alert alert-info">{{notification}}</div>
    {% endif %}
    {{form(form)}}
    <hr>
{% endblock %}
